.poke-result-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6d743;
    border: 1px solid #120136;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
    min-width: 150px;
    font-family: "Press Start 2P",cursive;
}

.animated-sprite{
    height: 120px;
    width: 120px;
    padding: 12px;
}